.viewsIndex {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background: var(--bg-Principal);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
}

.modalFormGameContainer {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    min-width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 2rem 18.5%;
}

@media (width < 1024px) {
    .modalFormGameContainer {
        padding: 2rem 10%;
    }
}

@media (width < 768px) {
    .modalFormGameContainer {
        padding: 2rem 5%;
    }
}

@media (width < 480px) {
    .modalFormGameContainer {
        padding: 1rem 2%;
    }
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.noScroll {
    overflow: hidden;
    height: 100vh;
}
