.searchInputContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    background: var(--SearchInputBg);
    padding: 0.6rem 1rem;
    border: 2px solid transparent;
    border-radius: 12px;
    width: 340px;
    box-shadow: var(--Sdw-Principal);
}

input {
    outline: none;
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: var(--textColor-Principal);
    font-size: 1rem;
    width: 100%;
}

input::placeholder {
    color: var(--SearchInputColor);
}

.searchInputContainer:focus-within {
    border-color: #284187;
    box-shadow: var(--SearchInputSdw);
    transform: scale(1.01);
}

@media (width < 1024px) {
    .searchInputContainer {
        display: none !important;
    }
}