header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 4%;
    background: var(--headerBg);
    --webkit-backdrop-filter: blur(9=8px);
    backdrop-filter: blur(8px);
    box-shadow: 0px 5px 50px rgba(26, 143, 185, 0.3);
    color: var(--textColor-Principal);
    z-index: 1000;
    border-bottom: var(--borderBottom-Header);
}

.navigateBttns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    gap: 0.5rem;
}

@media (width < 1024px) {
    header {
        flex-wrap: wrap;
        align-items: center;
    }
}

@media (width <= 768px) {
    header {
        gap: 1rem;
        justify-content: center;
    }

    .navigateBttns {
        width: fit-content;
        flex-wrap: wrap;
    }
}