.ModalGameContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.modalGameContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--bg-Principal);
    border-radius: 10px;
    position: relative;
    box-shadow: var(--Sdw-Glass);
    border: var(--bdr-Glass);
    overflow: hidden;
}

.GameHeroContainer {
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    min-width: 100%;
    background: var(--bg-heroModal);
    border-bottom: var(--bdr-BottomHeader);
}

.GameHeroContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.GameIcon {
    padding: 10px;
    border-radius: 10px;
    background: var(--bg-BlurGlass);
    border: var(--bdr-Glass);
    box-shadow: var(--Sdw-Glass);
}

@media (width <= 570px) {
    .GameIcon {
        display: none;
    }
}

.GameHeroText {
    text-align: left;
    gap: 0.5rem;
}

.GameHeroTitle {
    font-size: 30px;
    font-weight: 700;
    color: var(--textColor-Principal);
}

.GameHeroDescription {
    color: var(--textColor-Secondary);
}

.closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 3px;
    border-radius: 16rem;
    background: var(--themeBg-Primary);
    border: var(--bdr-Glass);
}

.closeIcon:hover {
    background: var(--themeBg-Secondary);
    border: var(--bdr-Glass);
    box-shadow: var(--Sdw-Glass);
}
