.regularBttn {
    padding: 0.5rem 0.9rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 16px;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.regularBttn:hover {
    background: var(--regularBttnBg);
    text-shadow: 0 0 1px currentColor;
}

.primaryBgBttn,
.secondaryBgBttn,
.tertiaryBgBttn {
    font-weight: 600;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.primaryBgBttn {
    background: var(--primaryBgBttn);
}

.primaryBgBttn:hover {
    background: var(--primaryBgBttn-Hover);
}

.secondaryBgBttn {
    background: var(--secondaryBgBttn);
}

.secondaryBgBttn:hover {
    background: var(--secondaryBgBttn-Hover);
}

.tertiaryBgBttn {
    background: var(--tertiaryBgBttn);
}

.regularBttn {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
    overflow: hidden;
}
