.regularBttn {
    padding: 0.5rem 0.9rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 16px;
    background: transparent;
    backdrop-filter: var(--bg-BlurGlass);
    -webkit-backdrop-filter: var(--bg-BlurGlass);
    transition: all 0.3s ease-in-out;
    color: var(--textColor-Principal);
}

.regularBttn:hover {
    background: var(--regularBttnBg-Hover);
    text-shadow: 0 0 1px currentColor;
}

.primaryBgBttn,
.secondaryBgBttn {
    font-weight: 600;
    box-shadow: var(--Sdw-Glass);
    border: var(--BdrGlass);
    color: var(--textColorBttn) !important;
}

.primaryBgBttn {
    background: var(--primaryBgBttn);
}

.primaryBgBttn:hover {
    background: var(--primaryBgBttn-Hover);
}

.secondaryBgBttn {
    background: var(--secondaryBgBttn);
}

.secondaryBgBttn:hover {
    background: var(--secondaryBgBttn-Hover);
}