.searchInputContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    background: var(--bg-Glass);
    padding: 0.55rem 1rem;
    border-radius: 12px;
    width: 300px;
    box-shadow: var(--Sdw-Principal);
    border: var(--BdrGlass);
    transition: all 0.3s ease-in-out;
}

input {
    outline: none;
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: var(--textColor-Principal);
    font-size: 1rem;
    width: 100%;
}

input::placeholder {
    color: var(--SearchInputColor);
}

.searchInputContainer:focus-within {
    border: var(--BdrInputFocus);
    box-shadow: var(--Sdw-Secondary);
}
